@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --couleur-titre: #312e2c;
  --couleur-body: #f3e5d7;
  --couleur-recette: #ffe8d1;
  --couleur-texte: #5f564d;
  --couleur-blanc: #ffffff;
  --couleur-inbox: #fff7fb;
  --couleur-rosefoncé: #7a284e;
  --couleur-h2: #854632;
  --font-spacegrotesk: Space Grotesk;
  --font-outfit: "Outfit", sans-serif;
}

body {
  background-color: var(--couleur-body);
  margin-top: -18%;
}

.card {
  border-radius: 10px;
  background-color: var(--couleur-blanc);
  display: grid;
  align-items: center;
  padding: 30px;
  min-width: 700px;
  height: 1796px;
  margin: 28%;
}

.image {
  display: block;
  margin-top: -30px;
  border-radius: 10px;
  width: 600px;
  height: 300px;
}

.card2 {
  display: grid;
  border-radius: 12px;
  margin-top: -50px;
  width: 656px;
  height: 180px;
  padding: 40;
  gap: 20px;
  background-color: var(--couleur-inbox);
}

.temps {
  color: var(--couleur-rosefoncé);
  margin-left: -20px;
  font-family: var(--font-outfit);
  font-weight: 570;
  font-size: 20px;
}

h1 {
  font-family: var(--font-spacegrotesk);
  color: var(--couleur-titre);
  font-size: 40px;
  margin-top: -10px;
}

.plat {
  margin-top: -10%;
  font-family: var(--font-outfit);
  color: var(--couleur-texte);
}

h2 {
  font-size: 30px;
  font-weight: 500;
  color: var(--couleur-h2);
  font-family: var(--font-outfit);
}

.preparation li::marker {
  color: var(--couleur-rosefoncé);
}

.instructions {
  font-family: var(--font-outfit);
  margin-top: -40px;
}

.instructions li::marker {
  color: var(--couleur-h2);
}

.liste2 {
  margin-top: -40px;
}

.ingredients {
  margin-top: -40px;
}

.liste {
  color: var(--couleur-texte);
  font-family: var(--font-outfit);
  margin-top: -40px;
  padding-left: 50px;
  margin-bottom: 1rem;
}

.liste li::marker {
  color: var(--couleur-h2);
}

.all {
  color: var(--couleur-texte);
  font-weight: bold;
  margin-left: 20px;
}

.table {
  font-family: var(--font-outfit);
}

.nutritional {
  font-family: var(--font-outfit);
}
